[submodule "gnl"]
	path = gnl
	url = git@github.com:MikAghumyan/get_next_line.git
	branch = push_swap
[submodule "libft"]
	path = libft
	url = git@github.com:MikAghumyan/libft.git
[submodule "mlx"]
	path = mlx
	url = git@github.com:42paris/minilibx-linux.git
